body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1296px;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.left-header{
    position: relative;
    width: 663px;
    display: flex;
    align-items: center;
}

.page-title{
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 120%;
letter-spacing: 0.64px;
}

.button-header-menu{
    border: none;
    margin-left: 44px;
    padding: 10px 28px 10px 12px;
 color: #EEE;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%;
border-radius: 4px;
background-color: #0F8277;
cursor: pointer;
}

.button-header-menu::after{
    content: '';
    display: block;
    background-image: url(../images/Frame\ 1.svg);
    width: 10px ;
    height: 14px;
    position: absolute;
    left: 269px;
    bottom: 14px;
}

.search-header{
    margin-left: 44px;
    border-radius: 4px 0 0 4px;
border: 1px solid #5C5C5C;
width: 294px;
    height: 36px;
}

.search-header:focus{
    outline: none;
}

.button-search{
    width: 36px;
    height: 36px;
    border-radius: 0 4px 4px 0;
border: 1px solid #5C5C5C;
    background-color: #0F8277;
    cursor: pointer;
}

.right-header{
    display: flex;
    align-items: center;
    width: 521px;
}

.nav-menu-header{
    display: flex;
    padding-left: 0;
}

.nav-header-item:nth-child(2){
    margin-left: 48px;
}

.nav-header-link{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
}

.log-in-link{
padding: 10px 12px 10px 12px;
 margin-left: 104px;
color: #0F8277;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.sign-up-link{
    margin-left: 16px;
    color: #EEE;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%;
background-color: #0F8277;
border-radius: 4px;
padding: 10px 12px 10px 12px;
}




/* starting learn */
.section-starting-learn{
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 602px;
    border-radius: 12px;
background-color: #DBF3ED;
}

.text-section-learn{
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 248px;
}

.subtitle-section-learn{
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 120%;
} 

.text-under-subtitle{
    margin-bottom: 0;
    margin-top: 32px;
    color: #000;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 120%;
}

.section-link-learn{
    margin-top: 37px;
}

.link-start-learn{
 color: #EEE;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%;
border-radius: 4px;
background-color: #0F8277;
padding: 10px 12px;
}

.link-learn-more{
    margin-left: 24px;
    border-radius: 4px;
    border: 2px solid #0F8277;
color: #0F8277;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%;
padding: 10px 12px;
}





.img-section-learning{
    left: 628px;
    position: absolute;
    display: flex;
    justify-content: center;
    background-image: url(../images/hero-img.png);
    width: 800px;
height: 533px;
background-repeat: no-repeat;
background-position: center;
}





/* About academics */
.education-academics-section{
margin-top: 80px;
}

.title-about-section{
    color: #0F8277;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.title-every-section{
    margin-top: 12px;
    margin-bottom: 0;
    color: #000;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.information-about-education{
    margin-top: 12px;
    margin-bottom: 0;
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%;
}

.academics-cards{
    margin-top: 40px;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

}
.item-academics-cards{
    position: relative;
    border-radius: 5px;
    border: 1px solid #c6c6c6c4;
width: 416px;
height: 508px;
}
.img-academics{
    border-radius: 5px;
}
.name-academics-conteiner{
    padding-top: 24px;
    padding-left: 10px;
    display: flex;
}

.name-academic{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%;
margin-top: 0;
margin-bottom: 0;
margin-left: 12px;
}

.about-this-academy{
    padding-left: 10px;
margin-top: 16px;
margin-bottom: 0;
color: #000;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}
.get-a-diploma{
position: absolute;
bottom: 0;
padding-bottom: 24px;
    padding-left: 10px;
    display: flex;
}
.text-diploma{
    color: #0F8277;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
    margin-top: 0;
    margin-bottom: 0;
}

/* Curses */

.curses-section{
margin-top: 80px;
}

.curses-cards{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.item-curses-cards{
    position: relative;
    border-radius: 5px;
    border: 1px solid #c6c6c6c4;
width: 306px;
height: 480px;
}

.img-curses{
    border-radius: 5px;
}

.name-curses-conteiner{
    padding-top: 24px;
    padding-left: 10px;
    display: flex;
}

.name-curse{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%;
margin-top: 0;
margin-bottom: 0;
margin-left: 12px;
}

.about-this-curse{
    padding-left: 10px;
margin-top: 16px;
margin-bottom: 0;
color: #000;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.text-curse{
    color: #0F8277;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
    margin: 0;
    position: absolute;
   bottom: 0;
    padding-bottom: 24px;
    padding-left: 10px;
}
.more-information{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-more-info{
    color: #0F8277;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-right: 16px;
}


/* Featured topics by category */


.featured-topics-section{
margin-top: 80px;
}
.title-featured-section{
    margin-top: 0;
}
.nav-futured-topics{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.futured-topics-menu{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    gap: 32px;
    width: 306px;
}
.name-topics{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
}
.futured-topics-link{
    color: #0F8277;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 24px */
}

.futured-topics-text{
    margin-bottom: 0;
    margin-top: 10px;
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
}




/* Cooperate companies */

.section-cooperate-companie{
    background-color: #DBF3ED;
margin-top: 80px;
}

.title-cooperate-section{
    margin-top: 0;
    margin-left: 212.5px;
    width: 871px;
    padding-top: 80px;
    text-align: center;
}

.cooperate-companies{
    margin-bottom: 0;
    margin-top: 60px;
    padding: 0 36px 80px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Bussines */

.bussines-section{
margin-top: 80px;
display: flex;
align-items: center;
justify-content: center;
}

.title-bussines-section{
margin-top: 0;
width: 636px;
}

.text-bussines{
    margin-bottom: 32px;
    margin-top: 32px;
    width: 568px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.button-bussines{
    color: #EEE;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%;
cursor: pointer;
border: none;
padding: 10px 12px;
background-color: #0F8277;
border-radius: 4px;
}

.bussines-company{
    margin-left: 72px;
    display: flex;
    width: 588px;
    height: 408px;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
}
.bussines-cards-link:nth-child(1){
border-bottom: 1px solid #BABABA;
border-right: 1px solid #BABABA;
}
.bussines-cards-link:nth-child(2){
    border-bottom: 1px solid #BABABA;
}

.bussines-cards-link:nth-child(3){
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.bussines-cards-link:nth-child(4){
    border-bottom: 1px solid #BABABA;
    border-right: 1px solid #BABABA; ;
}
.bussines-cards-link:nth-child(7){
    border-right: 1px solid #BABABA; ;
}
.bussines-cards-link:nth-child(5){
    border-bottom: 1px solid #BABABA;
}
.bussines-cards-link:nth-child(9){
    border-left: 1px solid #BABABA; 
}
.bussines-cards-link:nth-child(6){
    border-left: 1px solid #BABABA; 
    border-bottom: 1px solid #BABABA;
}


.bussines-cards-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 136px;
}

.career-plan-section{
    margin-top:70px;
    background-color: #DBF3ED;
    padding: 80px 36px 100px 36px;
}

.title-price-section{
    margin-top: 0;
    text-align: center;
}


.plan-cards-menu{
    display: flex;
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 0;
    gap: 24px;
}

.plan-cards-item{
    width: 416px;
    height: 698px;
    background-color: #FDFDFD;
    border-radius: 24px;
    padding: 56px;
    display: flex;
    flex-direction: column;
}
.text-cards-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 286px;
    

}

.text-cards-conteiner::after{
    content: "";
    display: block;
border-bottom: 2px solid #0F8277 ;
width: 304px;
margin: 48px 0 48px 0;
}

.title-cards-plan{
    margin: 0;
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.subtitle-cards-plan{
    color: #000;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%;
    margin-top: 27px;
    margin-bottom: 27px;
}

.conteiner-price{
    display: flex;
    align-items: center;
    gap: 16px;
}

.price-cards-plans{
    margin: 0;
    color: #000;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.cards-plans-mo{
    margin: 0;
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%;
text-transform: uppercase;
}

.career-plan-link{
    color: #F6FDFF;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.72px;
padding: 10px 12px;
border-radius: 4px;
background-color: #0F8277;
margin-top: 75px;
}

.conteiner-privilege-plans{
    position: relative;
    margin-top: 98px;
    display: flex;
}
.conteiner-privilege-plans-2{
    margin-top: 16px;
}

.vector-privilege{
    display: block;
    margin: 3px;
width: 8px;
height: 8px;
z-index: 1;
}

.text-privilege-plans::before{
    content: "";
    position: absolute;
    display: block;
    border-radius: 500px;
    background-color: #0F8277;
    width: 16px;
    height: 16px;
    left: -0.5px;
    top: -0.5px;
}

.text-privilege-plans{
    width: 200px;
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
margin-top: 0;
margin-bottom: 0;
margin-left: 16px;
}

.cards-item-plus{
    width: 416px;
    height: 698px;
    background-color: #0F8277;
    border-radius: 24px;
    padding: 56px;
    display: flex;
    flex-direction: column;
}

.text-plus-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 286px;
}

.text-plus-conteiner::after{
    content: "";
    display: block;
border-bottom: 2px solid #FFF ;
width: 304px;
margin: 48px 0 48px 0;
}

.title-cards-plus{
margin-top:0; 
margin-bottom: 22px;
color: #FFF;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
}
.subtitle-cards-plus{
    margin-top:0; 
    margin-bottom: 27px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.price-cards-plus{
        margin:0; 
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

.cards-plus-mo{   
    margin:0; 
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;
}

.career-plus-link{
    margin-top: 29px;
    color: #FFF;
    border-radius: 4px;
    border: 2px solid #FFF;
    padding: 10px 12px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.list-plus-conteiner{
    position: relative;
    margin-top: 98px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.conteiner-privilege-plus{
    position: relative;
    gap: 16px;
  display: flex;
}

.text-privilege-plus{
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
}

.text-privilege-plus::before{
    content: "";
    position: absolute;
    display: block;
    border-radius: 500px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    left: -0.5px;
    top: -0.5px;
}

.vector-plus-privilege{
    margin: 3px;
    width: 8px;
    height: 8px;
    z-index: 1;
    display: block;
}

.conteiner-privilege-plus:nth-child(1) .vector-plus-privilege{
    width: 20px;
    height: 8px;
}

.conteiner-privilege-plus:nth-child(3) .vector-plus-privilege{
    width: 25px;
    height: 8px;
}

.title-annual-plans{
    text-align: center;
    margin: 0;
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.subtitle-annual-plans{
    margin: 27px 0 27px 0;
    color: #000;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%;
}

.career-annual-link{
    color: #F6FDFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0F8277;
    margin-top: 46px ;
}

.plan-cards-item:nth-child(3) .conteiner-privilege-plans{
    margin-top: 0;
}




/* Students */



.section-photo-students{
    margin-top: 80px;
}

.title-photo-students{
    color: #000;
text-align: center;
margin: 0;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 48px */
}

.photo-students{
    grid-gap: 24px;
    padding-left: 0;
    display: grid;
    margin-top: 40px;
    margin-bottom: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "photo-students1 photo-students2 photo-students2 photo-students3"
    "photo-students4 photo-students2 photo-students2 photo-students5"
    "photo-students6 photo-students7 photo-students8 photo-students9";
}

.photo-students-item{
    height: 210px;
}

.photo-students-1{
    grid-area: photo-students1;
}
.photo-students-2{
    grid-area: photo-students2;
}

.photo-students-3{
    grid-area: photo-students3;
}

.photo-students-4{
    grid-area: photo-students4;
}

.photo-students-5{
    grid-area: photo-students5;
}

.photo-students-6{
    grid-area: photo-students6;
}

.photo-students-7{
    grid-area: photo-students7;
}
.photo-students-8{
    grid-area: photo-students8;
}

.photo-students-9{
    grid-area: photo-students9;
}




/* Contact us */



.section-contact-us{
    margin-top: 76px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1368px;
    background-image: url(../images/image\ 32.jpg) ;
    background-repeat: no-repeat;
}

.section-contact-us::before{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

.form-contact-us{
    margin-top: 65px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    border-radius: 24px;
    background-color: #c8f9f4;
    width: 565px;
    height: 614px;
padding: 30px;
display: flex;
flex-direction: column;
gap: 24px;
}

.title-section-form{
    margin: 0;
    color: #000;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 48px */
}

.text-section-form{
    margin: 0;
    color: #000;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 24px */
}

.name-input{
    margin-top: 0;
    margin-bottom: 8px;
    color: #000;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 109.091% */
}

.input-form{
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    width: 505px;
    height: 48px;
}

.form-message{
    display: block;
    resize: none;
    width: 505px;
    height: 104px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
}

.button-form-message{
    color: #F6FDFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.72px;
width: 196px;
padding: 10px 12px;
border-radius: 4px;
background-color: #0F8277;
border: none;
cursor: pointer;
}




/* Footer */


.footer-menu{
    margin-top: 47px;
    background-color: #F1F1F1;
}

.footer-conteiner{
    padding: 64px 36px;
    display: flex;
    justify-content: space-between;
}

.left-footer{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
width: 306px;
}

.title-left-footer{
    margin: 0;
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 38.4px */
letter-spacing: 0.64px;
}

.text-left-footer{
    margin: 0;
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
}

.right-footer{
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: flex-end;
}

.social-network{
    display: flex;
    gap: 24px;
}

.instagram{
    background-image: url(../images/social-network/instagram.svg);
    width: 32px;
height: 32px;
display: block;
}

.facebook{
    background-image: url(../images/social-network/facebook.svg);
    width: 32px;
height: 32px;
display: block;
}

.linkedin{
    background-image: url(../images/social-network/linkedin.svg);
    width: 32px;
height: 32px;
display: block;
}

.copyright{
    margin: 0;
    color: #000;
text-align: right;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
}